[Unit]
Description=Motion Sensor Box MQTT Service
After=msb-broker.service
StartLimitIntervalSec=0

[Service]
SyslogIdentifier=msb-mqtt
Type=simple
Restart=on-failure
RestartSec=1
Environment="MSB_CONFIG_DIR=/home/base/.config"
Environment="PYTHONPATH=/home/base/motion-sensor-box/src"
User=base
ExecStart=/usr/bin/python3 /home/base/motion-sensor-box/src/msb_mqtt/MQTTrunner.py

[Install]
WantedBy=multi-user.target
